@charset "utf-8";

a {
    color: #212529;
    text-decoration: none;
}

span {
    vertical-align: middle;
}

.list-group-item {
    vertical-align: middle;
    padding: .5rem .5rem .5rem 1rem;
}

.page-link {
    color: #212529;
}

.page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
}

.list-group-item.active {
    background-color: #212529;
    border-color: #212529;
}

.badge {
    vertical-align: middle;
}